<%= form_with(model: post) do |form| %>
  <table id="post-input">
    <tbody>
      <tr>
        <td>
          Subject
        </td>
        <td>
          <%= form.text_field :subject %>
          <%= form.submit "Post" %>
        </td>
      <tr>
        <td>
          Comment
        </td>
        <td>
          <%= form.text_area :comment %>
        </td>
      </tr>
  </table>
<% end %>
