<%= form_with(model: instance) do |form| %>
  <table id="post-input">
    <tbody>
      <tr>
        <td>
          Comment
        </td>
        <td>
          <%= form.hidden_field :post_id, value: post_id %>
          <%= form.text_area :comment %>
          <br>
          <%= form.submit "Reply" %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
