<%= render "form", post: Post.new %>

<div class="nav">
  [<%= link_to "Return", posts_path(anchor: @post.id) %>]
</div>

<%= render "post", post: @post, mainClass: "post", show: false %>
<% @post.replies.each do |reply| %>
  <%= render "post", post: reply, mainClass: "post reply", show: false %>
<% end %>
