<%= render "reply_form", reply: Post.new, post_id: @post.id %>

<div class="nav">
  [<%= link_to "Return", posts_path(anchor: @post.id) %>]
</div>

<%= render "post", post: @post, main_class: "post", show: false %>
<% @post.replies.each do |reply| %>
  <%= render "reply", reply: reply %>
<% end %>
