a {
  text-decoration: none;
  color: blue;
  &:hover {
    color: purple;
  }
}
.nav {
  padding: 7px 0;
  margin: 7px 0;
  border-top: 1px solid #b7c5d9;
  border-bottom: 1px solid #b7c5d9;
}
.post {
  padding: 2pt 0;
  line-height: 1.1;
  margin: 4px 0;
}
.post-subject {
  font-weight: bold;
}
.post-id {
  color: #000;
}
.post-anchor {
  text-decoration: underline;
}
.reply {
  background: #eee;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 2px;
  display: table;
  &-marker {
    cursor: default;
    user-select: none;
    color: #aaa;
    float: left;
    margin: 0 2px;
  }
}
.expand-thread {
  margin-bottom: 8px;
  color: #444;
}
